{
  "presets": [
    "stage-2",
    [ "env",
      {
        "modules": "commonjs"
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-class-properties"
  ]
} 